.venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
build/
node_modules/
.localstack/volume/
.localstack/logs/
.env
*.egg-info/
.coverage

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl
crash.log
.task/
